* {
    scroll-margin-top: calc((64px + 32px) * 2); 
}

/* Hero */

.hero {
    height: 40vh;
}

.hero .card {
    position: relative;

    background-image: url(../images/center-card-2.png);
    background-size: cover;
    background-position: center;
}

.hero .card::before {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    content: '';
    backdrop-filter: brightness(75%);
}

/* About Section */

.about-section {
    padding: 32px;
    padding-left: 192px;
    padding-right: 192px;
    text-align: center;
}

.about-section .layout {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 32px;
}

.about-section .left {
    flex: 100%;
}

.about-section .profile-image {
    width: 100%;
    border-radius: 32767px;
    overflow: hidden;
    object-fit: cover;
}

.about-section .right {
    text-align: justify;
}

.about-section .right > *:first-child {
    margin-top: 0;
}

.about-section .right > *:last-child {
    margin-bottom: 0;
}

.about-section .chips {
    padding: 0;
    list-style-type: none;
    text-align: start;
}

.about-section .chips > li {
    display: inline-block;

    margin: 0;
    margin-top: 4px;

    border-radius: 32767px;
    background: var(--md-sys-color-surface-container);
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    color: var(--md-sys-color-on-surface-container);
}

.about-section .chips p {
    margin: 0;
}

/* Educational Background */

.educational-background {
    padding: 32px;
    text-align: center;
}

.educational-background .layout {
    display: flex;
    padding-left: calc(50% - 128px - 24px);
    flex-direction: column;
    align-items: center;
}

.educational-background .timeline-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 192px;
    gap: 16px;
}

.educational-background .timeline-row.start .line-top {
    visibility: hidden;
}

.educational-background .timeline-row.end .line-bottom {
    visibility: hidden;
}

.educational-background .timeline-row .school-logo {
    width: 128px;
    object-fit: contain;
}

.educational-background .timeline-row > .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educational-background .timeline-row .stop-point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--md-sys-color-primary);
    flex-shrink: 0;
}

.educational-background .timeline-row .line-top {
    width: 4px;
    flex: 1 1 auto;
    background: var(--md-sys-color-primary);
    max-height: calc(0.83em * 2);
}

.educational-background .timeline-row .line-bottom {
    width: 4px;
    flex: 1 1 auto;
    background: var(--md-sys-color-primary);
    min-height: 16px;
}

.educational-background .timeline-row .texts {
    flex: 1 1 0;
    text-align: start;
}

/* Awards */

.awards {
    padding: 32px;
}

.awards img {
    height: 304px;
    object-fit: cover;
    transition: 300ms;
}

.awards .title {
    margin-top: 0;
}

.awards .title, .awards .subtitle {
    text-align: center;
}

.awards .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.awards .grid-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.awards .grid-item .description {
    margin: 16px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-50% - 16px));

    opacity: 0;
    color: hsl(0, 0%, 95%);

    transition: 300ms;
}

.awards .grid-item .description > *:first-child {
    margin-top: 0;
}

.awards .grid-item .description > *:last-child {
    margin-bottom: 0;
}

.awards .grid-item:hover img, .awards .grid-item:focus img {
    scale: 110%;
    filter: brightness(70%) blur(16px);
}

.awards .grid-item:hover .description, .awards .grid-item:focus .description {
    transform: translateY(0);

    opacity: 1;
}

.awards .grid.dl img {
    aspect-ratio: 4 / 3;
}

@media (max-width: 1200px) {
    .about-section .layout {
        flex-wrap: wrap;
        align-items: center;
    }

    .about-section .profile-image {
        width: 50%;
    }

    .about-section .title {
        text-align: center;
    }

    .awards img {
        height: 224px;
    }
}

@media (max-width: 840px) {
    .about-section {
        padding-left: 128px;
        padding-right: 128px;
    }

    .about-section .profile-image {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .about-section {
        padding-left: 32px;
        padding-right: 32px;
    }

    .educational-background .layout {
        padding-left: calc(50% - 128px - 25px);
    }

    .awards img {
        width: 100%;
        height: auto;
    }
}