/* Animations */

@keyframes zoom-entrance {
    from {
        opacity: 0;
        transform: scale(200%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.zoom-entrance-animation {
    animation: zoom-entrance 1000ms cubic-bezier(0,.5,0,1) forwards;
}

@keyframes zoom-exit {
    from {
        opacity: 1;
        transform: scale(100%);
    }

    to {
        
        opacity: 0;
        transform: scale(200%);
    }
}

.zoom-exit-animation {
    animation: zoom-exit 300ms cubic-bezier(1,0,1,1) forwards;
}

/* Root Page */

:root {
    --grid-padding: 16px;
    --grid-gap: 16px;
    --grid-resolution: 16;

    --card-radius: 16px;
    --content-padding: 16px;
}

body {
    overflow: hidden;
}

/* Intro Page */

#introPage {
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: hidden;
}

.mosaic-grid-container {
    display: grid;
    padding: var(--grid-padding);
    grid-template-columns: repeat(var(--grid-resolution), 1fr);
    grid-template-rows: repeat(var(--grid-resolution), 1fr);
    width: calc(100vw - var(--grid-padding) * 2);
    height: calc(100vh - var(--grid-padding) * 2);
    gap: var(--grid-gap)
}

.mosaic-card {
    grid-column: span 4;
    grid-row: span 4;

    overflow: hidden;
    border-radius: var(--card-radius);
    background-color: #f0f0f0;
    opacity: 0;

    transition: 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

.mosaic-card * {
    transition: 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

.mosaic-card.center {
    grid-column: 5 / span 8;
    grid-row: 5 / span 8;
}

.mosaic-card.full {
    border-radius: 0;
    background-color: white;
    transform: scale(210%);
    opacity: 0;
    z-index: 100;
}

.mosaic-card.full::before {
    opacity: 0;
}

.mosaic-card.card.full > * {
    opacity: 0;
}

/* Piggy Card */

.mosaic-card.piggy {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 4;
    grid-row: 1 / span 12;
    padding: 16px;
    gap: 16px;
}

.mosaic-card.piggy > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.mosaic-card.piggy > .title {
    display: flexbox;
    margin: 0;
    align-content: center;
    text-align: center;
}

/* High Horizon Hotel Card */

.mosaic-card.hhh {
    grid-column: 13 / span 4;
    grid-row: 9 / span 8;
}

.mosaic-card.hhh > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.mosaic-card.hhh > .title {
    margin: 0;
    transform: translateY(-100%);
    background-image: linear-gradient(#1b202300, #1b2023 32px);
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

/* New Year Countdown Card */

.mosaic-card.countdown {
    grid-column: 1 / span 4;
    grid-row: 13 / span 4;
}

.mosaic-card.countdown > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.mosaic-card.countdown > .title {
    margin: 0;
    transform: translateY(-100%);
    background-image: linear-gradient(#00000000, #000000 32px);
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

/* Pong: Legends Card */

.mosaic-card.pong {
    grid-column: 13 / span 4;
    grid-row: 1 / span 4;
}

.mosaic-card.pong > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.mosaic-card.pong > .title {
    margin: 0;
    transform: translateY(-100%);
    background-image: linear-gradient(#00000000, #000000 32px);
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

/* Awards Card */

.mosaic-card.awards {
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 2;
    grid-row: 1 / span 4;
    gap: 16px;
    padding: 16px;
}

.mosaic-card.awards > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
}

.mosaic-card.awards > .title {
    margin: 0;
    text-align: center;
}

/* Chef Card */

.mosaic-card.cooking {
    display: flex;
    flex-direction: column;
    grid-column: 9 / span 2;
    grid-row: 13 / span 4;
    padding: 16px;
}

.mosaic-card.cooking > .picture {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #ed1c24 25%, #fbaf5d 75%);
    mask-image: url(../images/intro/icon-cooking.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.mosaic-card.cooking > .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Gamer Card */

.mosaic-card.gamer {
    display: flex;
    flex-direction: column;
    grid-column: 11 / span 2;
    grid-row: 13 / span 4;
    padding: 16px;
}

.mosaic-card.gamer > .picture {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #8A2BE2 25%, #00BFFF 75%);
    mask-image: url(../images/intro/icon-gaming.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.mosaic-card.gamer > .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Programmer Card */

.mosaic-card.programmer {
    display: flex;
    flex-direction: column;
    grid-column: 11 / span 2;
    grid-row: 1 / span 4;
    padding: 16px;
}

.mosaic-card.programmer > .picture {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #00a651 25%, #82ca9c 75%);
    mask-image: url(../images/intro/icon-code.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.mosaic-card.programmer > .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Education Card */

.mosaic-card.education {
    display: flex;
    flex-direction: column;
    grid-column: 13 / span 4;
    grid-row: 5 / span 4;
    padding: 16px;
}

.mosaic-card.education > .picture-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    gap: 8px;
}

.mosaic-card.education > .picture-container > * {
    flex: 25%;
    overflow: hidden;
    object-fit: contain;
}

.mosaic-card.education > .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Recent Award Card */

.mosaic-card.recent-award {
    grid-column: 5 / span 4;
    grid-row: 13 / span 4;
}

.mosaic-card.recent-award > .picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.mosaic-card.recent-award > .title {
    margin: 0;
    transform: translateY(-100%);
    background-image: linear-gradient(#88747600, #887476 32px);
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: white;
}

/* Programming Skills Card */

.mosaic-card.programming-skills {
    display: flex;
    flex-direction: column;
    grid-column: 7 / span 4;
    grid-row: 1 / span 4;
    padding: 16px;
}

.mosaic-card.programming-skills > .picture-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    gap: 8px;
}

.mosaic-card.programming-skills > .picture-container > * {
    flex: 33%;
    overflow: hidden;
    object-fit: contain;
}

.mosaic-card.programming-skills > .picture-container > .web-dev {
    background: linear-gradient(45deg, #3A1C71 25%, #D76D77 75%);
    mask-image: url(../images/intro/icon-html.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.mosaic-card.programming-skills > .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Center/Hero Card */

#heroCard {
    position: relative;
    padding: var(--content-padding);
    opacity: 0;
}

#heroCard::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/center-card.png);
    background-size: cover;
    background-position: center;
    transition: opacity 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

#heroCard:hover > .click-guide {
    opacity: 1;
}

#heroCard.hero > * {
    transition: opacity 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

#heroCard > .hero-content {
    position: absolute;

    width: calc(100% - var(--content-padding) * 2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
}

#heroCard > .hero-content > *:first-child {
    margin-top: 0;
}

#heroCard > .hero-content > *:last-child {
    margin-bottom: 0;
}

#heroCard > .hero-content > .title {
    margin-bottom: 0;
    font-size: 4rem;
    transition: 500ms;
}

#heroCard > .hero-content > .subtitle {
    color: #ffffffe0;
    transition: 500ms;
}

#heroCard > .click-guide {
    width: calc(100% - 32px);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffffe0;
    opacity: 0;
    transition: opacity 250ms;
}

#heroCard > .hero-content > a {
    --font-size: 1.3rem;

    display: inline-flex;
    margin-top: 32px;

    border: solid 2px white;
    border-radius: 32767px;
    padding: var(--font-size);
    align-items: center;
    gap: 8px;

    font-size: var(--font-size);
    text-decoration: none;
    color: white;

    transition: box-shadow 200ms, text-shadow 200ms, background-color 200ms, color 200ms;
}

#heroCard > .hero-content > a > .material-icons {
    font-size: calc(var(--font-size) * 1.5);
}

#heroCard > .hero-content > a:hover {
    box-shadow: 0 0 8px white;
    text-shadow: 0 0 8px white;
}

#heroCard > .hero-content > a:active {
    background-color: #ffffff40;
}

/* Main Page */

#mainPage {
    width: 100vw;
    height: 100vh;
    display: none;
    overflow: auto;
}

#content {
    background: white;
}

/* Hero */

.hero {
    height: 60vh;
    padding: 16px;
    padding-top: 0;
}

.hero > .card {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: url(../images/center-card.png);
    background-size: cover;
    background-position: center;

    border-radius: 16px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero .title {
    font-size: 4rem;
    text-align: center;
}

.hero .subtitle {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
    color: #ffffffe0;
}

/* Spotlight */

.spotlight {
    padding: 32px;
    padding-bottom: 0;
    text-align: center;
}

.spotlight > .grid {
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 16px
}

.spotlight-item {
    display: flex;
    flex: 25%;
    aspect-ratio: 1/1;
    position: relative;

    border-radius: 16px;
    background-color: #f0f0f0;
    justify-content: center;
    overflow: hidden;
}

.spotlight-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 300ms;
}

.spotlight-item > .title {
    width: calc(100% - 32px);
    position: absolute;
    margin: 0;
    bottom: 0;
    background-image: linear-gradient(#00000000, #00000080);
    padding: 16px;
    text-align: center;
    color: white;
    transition: 300ms;
}

.spotlight-item > .description {
    width: calc(100% - 32px);
    position: absolute;
    margin: 0;
    top: 0;
    transform: translateY(-50%);
    padding: 16px;
    opacity: 0;
    font-size: 1.25rem;
    text-align: start;
    color: white;
    transition: 300ms;
}

.spotlight-item:hover::before {
    filter: brightness(50%) blur(16px);
    transform: scale(120%);
}

.spotlight-item:hover > .title {
    opacity: 0;
    transform: translateY(50%);
}

.spotlight-item:hover > .description {
    opacity: 1;
    transform: translateY(0);
}

.spotlight-item.piggy::before {
    background-image: url(../images/spotlight/piggy-logo-color-bg.png);
}

.spotlight-item.hotel::before {
    background-image: url(../images/spotlight/hhh.png);
}

.spotlight-item.countdown::before {
    background-image: url(../images/spotlight/countdown.png);
}

.spotlight-item.pong::before {
    background-image: url(../images/spotlight/pong.png);
}

/* Brief About Me */

.short-about {
    padding: 32px;
    text-align: center;
}

.short-about > .title {
    text-align: center;
    margin-bottom: 32px;
}

.short-about > .layout {
    display: flex;
}

.short-about .left {
    display: flex;
    flex: 40%;
    padding: 32px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}

.short-about .right {
    display: flex;
    flex-direction: column;
    flex: 60%;
    padding: 32px;
    padding-top: 0;
    justify-content: center;
    text-align: justify;
}

.short-about .right > *:first-child {
    margin-top: 0;
}

.short-about .right > *:last-child {
    margin-bottom: 0;
}

.short-about .right > * {
    margin: 0;
}

.short-about .right > h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.short-about .profile-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 32767px;
    overflow: hidden;
    object-fit: cover;
}

.short-about ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: start;
}

.short-about ul > li {
    display: inline-block;
    margin: 0;
    margin-top: 4px;
    background: #f0f0f0;
    border-radius: 32767px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
}

.short-about ul > li > p {
    margin: 0;
}

/* Interested Call to Action */

.interested {
    background: #202020;
    padding: 32px;
    text-align: center;
    color: white;
}

.interested > *:first-child {
    margin-top: 0;
}

.interested > *:last-child {
    margin-bottom: 0;
}

.cta-button {
    display: inline-block;
    padding: 1.25rem;
    border-radius: 32767px;
    background: #03A9F4;
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
}

/* Media Queries */

@media (hover: none) {
    #heroCard > .click-guide {
        opacity: 1;
    }
}

@media (pointer: coarse) {
    #heroCard > .click-guide {
        opacity: 1;
    }
}

@media (min-aspect-ratio: 401/500) and (max-aspect-ratio: 499/400) {
    .mosaic-card.piggy, .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong, .mosaic-card.programming-skills, .mosaic-card.education, .mosaic-card.recent-award, .mosaic-card.countdown {
        display: none;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 1 / span 16;
    }
}

@media (min-aspect-ratio: 901/1600) and (max-aspect-ratio: 400/500) {
    .mosaic-card.piggy, .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong {
        display: none;
    }

    .mosaic-card.education {
        grid-column: 7 / span 10;
        grid-row: 1 / span 4;
    }

    .mosaic-card.programming-skills {
        grid-column: 1 / span 8;
        grid-row: 13 / span 4;
    }

    .mosaic-card.recent-award {
        grid-column: 1 / span 6;
        grid-row: 1 / span 4;
    }

    .mosaic-card.countdown {
        grid-column: 9 / span 8;
        grid-row: 13 / span 4;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 5 / span 8;
    }

}

@media (max-aspect-ratio: 900/1600) {
    .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong {
        display: none;
    }

    .mosaic-card.piggy {
        grid-column: 1 / span 6;
        grid-row: 1 / span 5;
    }

    .mosaic-card.education {
        grid-column: 7 / span 10;
        grid-row: 1 / span 3;
    }

    .mosaic-card.programming-skills {
        grid-column: 7 / span 10;
        grid-row: 4 / span 2;
    }

    .mosaic-card.programming-skills > .title {
        display: none;
    }

    .mosaic-card.mosaic-card.recent-award {
        grid-column: 1 / span 8;
        grid-row: 12 / span 5;
    }

    .mosaic-card.countdown {
        grid-column: 9 / span 8;
        grid-row: 12 / span 5;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 6 / span 6;
    }
}

@media (min-width: 1600px) {
    #content {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1200px) {
    #heroCard > .hero-content > .title {
        font-size: 3rem;
    }

    .mosaic-card h3 {
        font-size: 1rem;
    }
}

@media (max-width: 840px) {
    #heroCard > .hero-content > .title {
        font-size: 3rem;
    }

    .spotlight > .grid {
        flex-wrap: wrap;
    }

    .spotlight-item {
        flex: 40%;
    }

    .short-about {
        padding: 0;
        padding-top: 16px;
        padding-bottom: 32px;
    }

    .short-about > .layout {
        flex-wrap: wrap;
    }

    .short-about .profile-image {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .mosaic-card {
        grid-column: span 4;
    }

    .mosaic-card.center {
        grid-column: 1 / span 8;
    }

    .mosaic-card.remove-mobile {
        display: none;
    }

    #heroCard > .hero-content > .title {
        font-size: 2rem;
    }

    #heroCard > .hero-content > .subtitle {
        margin: 0;
        font-size: 1rem;
    }

    #heroCard > .click-guide {
        font-size: 0.75rem;
    }

    .spotlight {
        padding: 0;
        padding-top: 32px;
    }

    .spotlight-item {
        flex: 100%;
    }

    .short-about .profile-image {
        width: 75%;
    }
}