/* Animations */

@keyframes zoom-entrance {
    from {
        opacity: 0;
        transform: scale(200%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.zoom-entrance-animation {
    animation: zoom-entrance 1000ms cubic-bezier(0,.5,0,1) forwards;
}

@keyframes zoom-exit {
    from {
        opacity: 1;
        transform: scale(100%);
    }

    to {
        opacity: 0;
        transform: scale(200%);
    }
}

.zoom-exit-animation {
    animation: zoom-exit 300ms cubic-bezier(1,0,1,1) forwards;
}

/* Root */

:root {
    --mosaic-grid-padding: 16px;
    --mosaic-grid-gap: 16px;
    --mosaic-grid-resolution: 16;

    --mosaic-card-radius: 16px;

    --color-on-full-image-card: #f0f0f0;
    --color-on-spotlight-item: #f0f0f0;

    --color-chip-background: #e4e4e4;
    --color-on-chip-background: #101010;

    --color-interested-background: #101010;
    --color-on-interested-background: #f0f0f0;

    --color-cta-button-background: #03A9F4;
    --color-cta-button-on-background: #ffffff;
}

/* Elements */

.cta-button {
    display: inline-block;

    border-radius: 32767px;
    background: var(--color-cta-button-background);
    padding: 1.25rem;
    
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--color-cta-button-on-background);
}

/* Intro Page */

#introPage {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Mosaic Grid and Cards */

.mosaic-grid-container {
    display: grid;
    width: calc(100vw - var(--mosaic-grid-padding) * 2);
    height: calc(100vh - var(--mosaic-grid-padding) * 2);

    padding: var(--mosaic-grid-padding);
    grid-template-columns: repeat(var(--mosaic-grid-resolution), 1fr);
    grid-template-rows: repeat(var(--mosaic-grid-resolution), 1fr);
    gap: var(--mosaic-grid-gap)
}

.mosaic-card {
    grid-column: span 4;
    grid-row: span 4;

    opacity: 0;
    border-radius: var(--mosaic-card-radius);
    background: var(--color-card-background);
    color: var(--color-on-card-background);
    overflow: hidden;

    transition: 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

.mosaic-card * {
    transition: 500ms cubic-bezier(0.2, 0.0, 0, 1.0);
}

/* Center/Hero Card */

#heroCard {
    display: flex;
    grid-column: 5 / span 8;
    grid-row: 5 / span 8;

    position: relative;

    opacity: 0;
    background-image: url(../images/center-card.png);
    background-size: cover;
    background-position: center;

    padding: 16px;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--color-on-hero-card);
}

#heroCard:hover .click-guide {
    opacity: 1;
}

#heroCard .title {
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

#heroCard .subtitle {
    margin: 0;
    font-size: 2rem;
    color: color-mix(in srgb, var(--color-on-hero-card) 90%, transparent);
    text-align: center;
}

#heroCard .click-guide {
    width: calc(100% - 32px);

    position: absolute;
    bottom: 0;

    opacity: 0;
    text-align: center;
    color: color-mix(in srgb, var(--color-on-hero-card) 80%, transparent);

    transition: opacity 250ms;
}

/* Piggy Card */

.mosaic-card.piggy {
    display: flex;
    grid-column: 1 / span 4;
    grid-row: 1 / span 12;

    padding: 16px;
    flex-direction: column;
    gap: 16px;
}

.mosaic-card.piggy .picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.mosaic-card.piggy .title {
    display: flexbox;
    margin: 0;
    align-content: center;
    text-align: center;
}

/* High Horizon Hotel Card */

.mosaic-card.hhh {
    grid-column: 13 / span 4;
    grid-row: 9 / span 8;
}

.mosaic-card.hhh .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.mosaic-card.hhh .title {
    margin: 0;
    transform: translateY(-100%);

    background-image: linear-gradient(#1b202300, #1b2023 32px);

    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: var(--color-on-full-image-card);
}

/* New Year Countdown Card */

.mosaic-card.countdown {
    grid-column: 1 / span 4;
    grid-row: 13 / span 4;
}

.mosaic-card.countdown .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.mosaic-card.countdown .title {
    margin: 0;
    transform: translateY(-100%);

    background-image: linear-gradient(#00000000, #000000 32px);

    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: var(--color-on-full-image-card);
}

/* Pong: Legends Card */

.mosaic-card.pong {
    grid-column: 13 / span 4;
    grid-row: 1 / span 4;
}

.mosaic-card.pong .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.mosaic-card.pong .title {
    margin: 0;
    transform: translateY(-100%);

    background-image: linear-gradient(#00000000, #000000 32px);
    
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: var(--color-on-full-image-card);
}

/* Awards Card */

.mosaic-card.awards {
    display: flex;
    grid-column: 5 / span 2;
    grid-row: 1 / span 4;

    padding: 16px;
    flex-direction: column;
    gap: 16px;
}

.mosaic-card.awards .picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.mosaic-card.awards .title {
    margin: 0;
    text-align: center;
}

/* Chef Card */

.mosaic-card.cooking {
    display: flex;
    grid-column: 9 / span 2;
    grid-row: 13 / span 4;

    padding: 16px;
    flex-direction: column;
}

.mosaic-card.cooking .picture {
    width: 100%;
    height: 100%;

    position: relative;

    background: linear-gradient(-45deg, #ed1c24 25%, #fbaf5d 75%);
    mask-image: url(../images/intro/icon-cooking.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    overflow: hidden;
}

.mosaic-card.cooking .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Gamer Card */

.mosaic-card.gamer {
    display: flex;
    grid-column: 11 / span 2;
    grid-row: 13 / span 4;

    padding: 16px;
    flex-direction: column;
}

.mosaic-card.gamer .picture {
    width: 100%;
    height: 100%;

    position: relative;

    background: linear-gradient(45deg, #8A2BE2 25%, #00BFFF 75%);
    mask-image: url(../images/intro/icon-gaming.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    overflow: hidden;
}

.mosaic-card.gamer .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Programmer Card */

.mosaic-card.programmer {
    display: flex;
    grid-column: 11 / span 2;
    grid-row: 1 / span 4;

    padding: 16px;
    flex-direction: column;
}

.mosaic-card.programmer .picture {
    width: 100%;
    height: 100%;

    position: relative;

    background: linear-gradient(45deg, #00a651 25%, #82ca9c 75%);
    mask-image: url(../images/intro/icon-code.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    overflow: hidden;
}

.mosaic-card.programmer .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Education Card */

.mosaic-card.education {
    display: flex;
    grid-column: 13 / span 4;
    grid-row: 5 / span 4;

    padding: 16px;
    flex-direction: column;
}

.mosaic-card.education .picture-container {
    display: flex;
    flex-grow: 1;

    flex-direction: row;
    gap: 8px;
    overflow: hidden;
}

.mosaic-card.education .picture-container > * {
    flex: 25%;
    object-fit: contain;
    overflow: hidden;
}

.mosaic-card.education .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Recent Award Card */

.mosaic-card.recent-award {
    grid-column: 5 / span 4;
    grid-row: 13 / span 4;
}

.mosaic-card.recent-award .picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.mosaic-card.recent-award .title {
    margin: 0;
    transform: translateY(-100%);

    background-image: linear-gradient(#88747600, #887476 32px);
    padding: 16px;
    padding-top: 32px;
    text-align: center;
    color: var(--color-on-full-image-card);
}

/* Programming Skills Card */

.mosaic-card.programming-skills {
    display: flex;
    grid-column: 7 / span 4;
    grid-row: 1 / span 4;

    flex-direction: column;
    padding: 16px;
}

.mosaic-card.programming-skills .picture-container {
    display: flex;
    flex-grow: 1;

    flex-direction: row;
    gap: 8px;
    overflow: hidden;
}

.mosaic-card.programming-skills .picture-container > * {
    flex: 33%;
    object-fit: contain;
    overflow: hidden;
}

.mosaic-card.programming-skills .picture-container > .web-dev {
    background: linear-gradient(45deg, #3A1C71 25%, #D76D77 75%);
    mask-image: url(../images/intro/icon-html.svg);
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.mosaic-card.programming-skills .title {
    margin: 0;
    padding-top: 16px;
    text-align: center;
}

/* Main Page */

#mainPage {
    display: none;
}

#content {
    background: var(--color-background);
}

/* Spotlight */

.spotlight {
    padding: 32px;
    text-align: center;
}

.spotlight .grid {
    display: flex;
    padding: 16px;
    padding-bottom: 32px;
    gap: 16px;
    justify-content: center;
}

.spotlight .title {
    margin-top: 0;
    margin-bottom: 16px;
}

.spotlight-item {
    display: flex;
    flex: 25%;
    aspect-ratio: 1/1;
    
    position: relative;

    border-radius: 16px;
    background: var(--color-on-spotlight-item);
    color: var(--color-on-spotlight-item);
    justify-content: center;
    overflow: hidden;
}

.spotlight-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 300ms;
}

.spotlight-item .title {
    width: calc(100% - 32px);

    position: absolute;
    margin: 0;
    bottom: 0;

    background-image: linear-gradient(#00000000, #00000080);

    padding: 16px;
    text-align: center;

    transition: 300ms;
}

.spotlight-item .description {
    width: calc(100% - 32px);

    position: absolute;
    margin: 0;
    top: 0;
    transform: translateY(-50%);

    opacity: 0;
    padding: 16px;
    font-size: 1.25rem;
    text-align: start;
    transition: 300ms;
}

.spotlight-item:hover::before {
    filter: brightness(50%) blur(16px);
    transform: scale(120%);
}

.spotlight-item:hover .title {
    opacity: 0;
    transform: translateY(50%);
}

.spotlight-item:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.spotlight-item.piggy::before {
    background-image: url(../images/spotlight/piggy-logo-color-bg.png);
}

.spotlight-item.hotel::before {
    background-image: url(../images/spotlight/hhh.png);
}

.spotlight-item.countdown::before {
    background-image: url(../images/spotlight/countdown.png);
}

.spotlight-item.pong::before {
    background-image: url(../images/spotlight/pong.png);
}

/* Brief About Me */

.short-about {
    padding: 32px;
    text-align: center;
}

.short-about .title {
    margin-top: 0;
}

.short-about .layout {
    display: flex;
}

.short-about .left {
    display: flex;
    flex: 10%;
    padding: 32px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}

.short-about .profile-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 32767px;
    overflow: hidden;
    object-fit: cover;
}

.short-about .right {
    display: flex;
    flex: 60%;
    padding: 32px;
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.short-about .right > *:first-child {
    margin-top: 0;
}

.short-about .right > *:last-child {
    margin-bottom: 0;
}

.short-about .right > * {
    margin: 0;
}

.short-about .right > h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.short-about .chips {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: start;
}

.short-about .chips > li {
    display: inline-block;

    margin: 0;
    margin-top: 4px;

    border-radius: 32767px;
    background: var(--color-chip-background);
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    color: var(--color-on-chip-background);
}

.short-about .chips p {
    margin: 0;
}

/* Interested Call to Action */

.interested {
    background: var(--color-interested-background);
    padding: 32px;
    text-align: center;
    color: var(--color-on-interested-background);
}

.interested > *:first-child {
    margin-top: 0;
}

.interested > *:last-child {
    margin-bottom: 0;
}

/* Media Queries */

@media (hover: none) {
    #heroCard .click-guide {
        opacity: 1;
    }
}

@media (pointer: coarse) {
    #heroCard .click-guide {
        opacity: 1;
    }
}

@media (min-aspect-ratio: 401/500) and (max-aspect-ratio: 499/400) {
    .mosaic-card.piggy, .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong, .mosaic-card.programming-skills, .mosaic-card.education, .mosaic-card.recent-award, .mosaic-card.countdown {
        display: none;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 1 / span 16;
    }
}

@media (min-aspect-ratio: 901/1600) and (max-aspect-ratio: 400/500) {
    .mosaic-card.piggy, .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong {
        display: none;
    }

    .mosaic-card.education {
        grid-column: 7 / span 10;
        grid-row: 1 / span 4;
    }

    .mosaic-card.programming-skills {
        grid-column: 1 / span 8;
        grid-row: 13 / span 4;
    }

    .mosaic-card.recent-award {
        grid-column: 1 / span 6;
        grid-row: 1 / span 4;
    }

    .mosaic-card.countdown {
        grid-column: 9 / span 8;
        grid-row: 13 / span 4;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 5 / span 8;
    }

}

@media (max-aspect-ratio: 900/1600) {
    .mosaic-card.hhh, .mosaic-card.awards, .mosaic-card.programmer, .mosaic-card.cooking, .mosaic-card.gamer, .mosaic-card.pong {
        display: none;
    }

    .mosaic-card.piggy {
        grid-column: 1 / span 6;
        grid-row: 1 / span 5;
    }

    .mosaic-card.education {
        grid-column: 7 / span 10;
        grid-row: 1 / span 3;
    }

    .mosaic-card.programming-skills {
        grid-column: 7 / span 10;
        grid-row: 4 / span 2;
    }

    .mosaic-card.programming-skills .title {
        display: none;
    }

    .mosaic-card.mosaic-card.recent-award {
        grid-column: 1 / span 8;
        grid-row: 12 / span 5;
    }

    .mosaic-card.countdown {
        grid-column: 9 / span 8;
        grid-row: 12 / span 5;
    }

    #heroCard {
        grid-column: 1 / span 16;
        grid-row: 6 / span 6;
    }
}

@media (max-width: 1200px) {
    #heroCard .title {
        font-size: 3rem;
    }

    #heroCard .subtitle {
        font-size: 1.5rem;
    }

    .mosaic-card h3 {
        font-size: 1rem;
    }
}

@media (max-width: 840px) {
    #heroCard .title {
        font-size: 3rem;
    }

    #heroCard .subtitle {
        font-size: 1.5rem;
    }

    .spotlight .grid {
        flex-wrap: wrap;
    }

    .spotlight-item {
        flex: 40%;
    }

    .short-about {
        padding: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .short-about .layout {
        flex-wrap: wrap;
    }

    .short-about .left {
        flex: 50%;
    }

    .short-about .profile-image {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .mosaic-card {
        grid-column: span 4;
    }

    .mosaic-card.center {
        grid-column: 1 / span 8;
    }

    .mosaic-card.remove-mobile {
        display: none;
    }

    #heroCard .title {
        font-size: 2rem;
    }

    #heroCard .subtitle {
        margin: 0;
        font-size: 1rem;
    }

    #heroCard .click-guide {
        font-size: 0.75rem;
    }

    .spotlight {
        padding: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .spotlight-item {
        flex: 100%;
    }

    .short-about .profile-image {
        width: 75%;
    }
}